@font-face {    
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf)
}

@font-face {    
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {    
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf)
}

@font-face {    
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf)
}

@font-face {    
    font-family: "Raleway Heavy";
    src: url(../fonts/Raleway-Heavy.ttf)
}

@font-face {    
    font-family: "Raleway ExtraBold";
    src: url(../fonts/Raleway-ExtraBold.ttf)
}

@font-face {    
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf)
}

@font-face {    
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf)
}

@font-face {    
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf)
}


body {
    margin: 0
}

.header {
    width: 100%;
    overflow: hidden;
    /*background: #abeafa;*/
    background: url(../images/indexBack.jpg);
    background-size: cover;
    /*height: 700px;*/
    height: 682px;
}

.in_header {
    width: 1170px;
    margin: 0 auto; 
    /*height: 700px;
    height: inherit;  
    background: url(../images/surfhouse_logo.png) no-repeat 68px 22px, 
               rgb(142, 223, 185);*/
    position: relative;     
}

.logo_block {
    background: url(../images/surfhouse_logo.png) no-repeat;
    width: 125px;
    height: 111px;
    position: absolute;
    top: 24px;
    left: 69px;
}

.welcome_block {
    background-color: #fff51f;
    width: 270px;
    height: 300px;
    position: absolute;
    top: 336px;
    /*padding-top: 82px;
    padding-left: 25px;
    box-sizing: border-box;*/
    position: relative;
}

.welcome {
    font-family: "Raleway Bold", sans-serif;
    font-size: 30px;
    line-height: 29px;
    /*font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;*/
    color: #333333;
    text-transform: uppercase;
    position: absolute;
    /*width: 199px;*/
    height: 52px;
    top: 82px;
    left: 25px;
}

.welcome_text {
    /*width: 218px;*/
    font-family: "Raleway Bold Italic", sans-serif;
    font-size: 18px;
    line-height: 14px;
    /*font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;*/
    color: #333333;
    position: absolute;
    height: 60px;
    top: 158px;
    left: 22px;
}

.social_icons_block {
    position: absolute;
    top: 50px;
    left: 986px;
 }

.social_icons_block i{
    color: white;
    margin-right: 9px; 
}

.social_icons_block i:hover{
    color: #abeafa;
}

.funride_block {
    width: 313px;
    height: 169px;
    position: absolute;
    top: 243px;
    right: 109px;
}

.funride_block_title {
    font-family: "Raleway Extra Bold", sans-serif;
    color:  #fff51f;
    font-size: 48px;
    line-height: 34px;
    text-transform: uppercase;
}

.funride_block_text {
    font-family: "Raleway Regular", sans-serif;
    color:  #fff51f;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.button_buy {
    font-family: "Raleway Heavy", sans-serif;
    background-color:  #fff51f;
    width: 124px;
    height: 49px;
    position: absolute;
    top: 474px;
    left: 751px;
    text-transform: uppercase;
    text-align: center;
    line-height: 49px;
}

.button_buy:hover {
    background: #abeafa;
}

.content {
    width: 100%;
    overflow: hidden;
    background: green;
    min-height: 800px;
}

.in_content {
    width: 1170px;
    margin: 0 auto; 
    /*height: 700px;
    height: inherit;  
    background: url(../images/surfhouse_logo.png) no-repeat 68px 22px, 
               rgb(142, 223, 185);*/
    background: #fff51f;
    min-height: inherit;
    /*position: relative;*/    
}

.content_left {
    width: 270px;
    height: inherit;
    /*height: 539px;*/
    float: left;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

.menu a{
    height: 43px;
    line-height: 43px;    
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    padding-right: 131px;
    padding-left: 40px;
    box-sizing: border-box;
    color: black;
    background-color:  #26d2fc;
}

.menu a:first-child {
    height: 66px;
    color: white;
    line-height: 66px;
    background: black;
}

.menu a:hover{
    color: white;
    background: black;
}

.open_block {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background: url(../images/store.jpg)
}

.open_block p {
    text-transform: uppercase;
    font-family: "Raleway Black Italic", sans-serif;
    font-size: 36px;
    position: relative;
    top: 129px;
    left: 142px;
    color: #333333;
}

.content_right {
    width: 870px;
    min-height: inherit;
    float: right;
    background: purple;
}

.content_right_header {
    width: 100%;
    height: 78px;
    background: #f8f8f8;
    float: right;
}

.content_right_header p {
    margin: 0;
    text-transform: uppercase;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 22px;
    color: #707070;
    line-height: 78px;
    padding-left: 31px;
    box-sizing: border-box
}

.product_block {
    width: 100%;
    float: right; 
}

.product_item {
    width: 250px;
    height: 320px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    position: relative
}

.product_item_image img{
    display: block;
    width: 230px;
    height: 235px;
    /*margin: 10px 10px;*/
    position: absolute;
    top: 10px;
    left: 10px;
}

.product_corner {
    background: url(../images/corner.png);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 9px;
    font-family: "Roboto Regular", sans-serif;
    padding-left: 21px;
    padding-top: 6px;
    box-sizing: border-box  
}

