<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img class="logo" src="/static/img/book.png" alt="books_logo">
                <div class="store_name">English bookstore</div>
                <ul class="main_menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog/">Catalog</a></li>
                    <li><a href="/contacts/">Contact us</a></li>
                </ul>
            </div>    
            <hr>
            <h2>Home</h2>
            <p>
                Welcome to the English bookstore!  
            </p>
            <hr>
            <div class="footer">&copy; All rights reserved</div>
        </div>
    </body>
</html>